# Folders.
.DS_Store/
/.git/
/.vs/
/.vscode/
/bin/
/build/
/cache/
/log/
/node_modules/
/obj/

# Files.
.DS_Store
.env*
*.csproj.user
*~

# Application specific.
/program
BisonParser.c
BisonParser.h
FlexScanner.c
BisonGrammar.output
src/main/python/generated_code.py
*.pyc
src/main/python/__pycache__
src/main/python/generated_code_tests/output/*.png
src/test/python/output/*.png